{# src/A2C/PlatformBundle/Resources/views/Admin/ban.html.twig #}

{% extends "A2CPlatformBundle:Admin:index.html.twig" %}

{% block body %}
    <h2> {{ 'admin.ban.newban'|trans }} </h2>
    {# Display the form to ban an address #}
    <div class="well">
        {# <form> opening tag #}
        {{ form_start(formBan, {'attr': {'class': 'form-horizontal'}}) }}

        {# Generic form errors #}
        {{ form_errors(formBan) }}

        {# Manual generation of the form's objects #}
        {# E-mail address #}
        <div class="form-group">
            {{ form_label(formBan.emailAddress, 'admin.ban.form.address', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(formBan.emailAddress) }}
            <div class="col-sm-10">
                {{ form_widget(formBan.emailAddress) }}
            </div>
            {# Submit button #}
            <div class="col-sm-10">
                {{ form_widget(formBan.send, {'label': 'admin.ban.form.submit', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {# CSRF #}
        {{ form_rest(formBan) }}

        {# </form> closing tag #}
        {{ form_end(formBan) }}
    </div>

    <h2> {{ 'admin.ban.title'|trans }} </h2>

    {# Print the list of banned email addresses, with the unban action #}
    <table>
        <tr>
            <th> {{ 'admin.ban.column1'|trans }} </th>
            <th> {{ 'admin.ban.column2'|trans }} </th>
            <th> {{ 'admin.ban.column3'|trans }} </th>
        </tr>
        {% for address in listAddresses %}
            <tr>
                <td>{{ address.emailAddress }}</td>
                <td>{{ address.bannedDate|date('Y-m-d H:i:s') }}</td>
                {# Unban button #}
                <td><form action="{{ path('a2c_platform_admin_unban', {'id': address.id}) }}" method="post">
                        <input type="submit" value="{{ 'admin.ban.unban'|trans}}" class="btn btn-danger" />
                        {# CSRF token #}
                        {{ form_rest(formUnban) }}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}