{# src/A2C/PlatformBundle/Resources/views/Admin/ban.html.twig #}

{% extends "A2CPlatformBundle:Admin:index.html.twig" %}

{% block body %}
<script>
function unban(addressId)
{
	if (confirm('{{ 'admin.ban.unban.confirm.question'|trans }}')) {
		url = '{{ path('a2c_platform_admin_unban', {'id':0}) }}'.slice(0, -2);
		url = url + "/" + addressId;
		window.location.assign(url);
	}
	else {
		// Do nothing
	}
}
</script>

    <h2> {{ 'admin.ban.newban'|trans }} </h2>
    {# Display the form to ban an address #}
    <div class="well">
        {# <form> opening tag #}
        {{ form_start(formBan, {'attr': {'class': 'form-horizontal'}}) }}

        {# Generic form errors #}
        {{ form_errors(formBan) }}

        {# Manual generation of the form's objects #}
        {# E-mail address #}
        <div class="form-group">
            {{ form_label(formBan.emailAddress, 'admin.ban.form.address'|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(formBan.emailAddress) }}
            <div class="col-sm-10">
                {{ form_widget(formBan.emailAddress) }}
            </div>
            {# Submit button #}
            <div class="col-sm-10">
                {{ form_widget(formBan.send, {'label': 'admin.ban.form.submit'|trans, 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

        {# CSRF #}
        {{ form_rest(formBan) }}

        {# </form> closing tag #}
        {{ form_end(formBan) }}
    </div>

    <h2> {{ 'admin.ban.title'|trans }} </h2>

    {# Print the list of banned email addresses, with the unban action #}
    <table>
        <tr>
            <th> {{ 'admin.ban.column1'|trans }} </th>
            <th> {{ 'admin.ban.column2'|trans }} </th>
            <th> {{ 'admin.ban.column3'|trans }} </th>
        </tr>
        {% for address in listAddresses %}
            <tr>
                <td>{{ address.emailAddress }}</td>
                <td>{{ address.bannedDate|date('Y-m-d H:i:s') }}</td>
                {# Unban button #}
				{# @TODO : CSRF protection, at least throw a popup #}
                <td><a href="#" onclick="unban({{ address.id }}); return false;" class="btn btn-danger">{{ 'admin.ban.unban.button'|trans}}</a></td>
            </tr>
        {% endfor %}
    </table>
	

{% endblock %}

