{# src/A2C/PlatformBundle/Resources/views/Default/about.html.twig #}

{% extends "A2CPlatformBundle::layout.html.twig" %}
{% block body %}

    <p> {{ 'contact.body.idea'|trans }} </p>
    <p> {{ 'contact.body.whoami'|trans }} </p>
    <div> {{ 'contact.body.contact'|trans }} </div>

    <div class="well">
		{# <form> opening tag #}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Generic form errors #}
        {{ form_errors(form) }}

        {# Manual generation of the form's objects #}
		{# Name #}
        <div class="form-group">
            {{ form_label(form.name, 'contact.form.name'|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {# Display errors for the group #}
            {{ form_errors(form.name) }}

            <div class="col-sm-10">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {# E-mail address #}
        <div class="form-group">
            {{ form_label(form.emailAddress, 'contact.form.email_address'|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.emailAddress) }}
            <div class="col-sm-10">
                {{ form_widget(form.emailAddress) }}
            </div>
        </div>

        {# Message #}
        <div class="form-group">
            {{ form_label(form.message, 'contact.form.message'|trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.message) }}
            <div class="col-sm-10">
                {{ form_widget(form.message) }}
            </div>
        </div>


        {# Submit button #}
        {{ form_widget(form.send, {'label': 'contact.form.send'|trans, 'attr': {'class': 'btn btn-primary'}}) }}

        {# CSRF #}
        {{ form_rest(form) }}

        {# </form> closing tag #}
        {{ form_end(form) }}
    </div>

{% endblock %}